<hr/>    
<div class="credits">
    <span class="copyright">@T("&#169; Binipreu 2013")</span>
    <span class="poweredby">@T("Desarrollo <a href=\"{0}\" target=\"_blank\">Memory Soft</a>", "http://memorysoft.es")</span> 
</div>